div {
    float: left;
    margin: 10px;
    height: 120px;
    width: 130px;
    border: 5px solid black;
    overflow: hidden;
}

iframe#data {
    -moz-flow-into: myFlow;
    -ms-flow-into: myFlow;
    -o-flow-into: myFlow;
    -webkit-flow-into: myFlow;
    flow-into: myFlow;
}

div.region {
    -moz-flow-from: myFlow;
    -ms-flow-from: myFlow;
    -o-flow-from: myFlow;
    -webkit-flow-from: myFlow;
    flow-from: myFlow;
}